{%include 'head.html'%}

	<div class="fh5co-contact animate-box">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 col-md-push-2 animate-box">
					<h2>联系我们</h2>
					<p>无论您有什么问题，都可以在下方留下您的联系方式，并联系我们，我们会尽快给您答复。</p>
				</div>
				<div class="col-md-3">
					<h3>联系方式</h3>
					<ul class="contact-info">
						<li><i class="icon-map"></i>上海市徐汇区华山路1954号上海交通大学 Med-X 研究院205室</li>
						<li><i class="icon-phone"></i>021-62933026</li>
						<li><i class="icon-envelope"></i><a href="mailto:xuting601@sjtu.edu.cn">xuting601@sjtu.edu.cn</a></li>
						<li><i class="icon-globe"></i><a href="http://neurorehab-sjtu.github.io/">http://neurorehab-sjtu.github.io/</a></li>
					</ul>
				</div>
				<div class="col-md-8 col-md-push-1 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<input class="form-control" placeholder="姓名" type="text">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<input class="form-control" placeholder="Email" type="text">
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<textarea name="" class="form-control" id="" cols="30" rows="7" placeholder="您想对我们说..."></textarea>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<input value="发送消息" class="btn btn-primary" type="submit">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{%include 'foot.html'%}
